:root{
    --colorPrimario: #cff5f7;
    --colorSecundario: #000000;
    --colorTerciario: #ffffff;
    --fontTitulo: 'Cormorant Garamond', serif;
    --fontTexto:'Zilla Slab', serif;
}



body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--fontTexto);
    background-color: var(--colorSecundario);
    color:var(--colorPrimario)
}
img{
    width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--fontTitulo);
    
}

h2{
    font-size: 4rem;
    margin-top: 3rem;
}

.verde__fondo{
    position: absolute;
    top:0;
    z-index: -1;
    width: 100%;
    height: 50vh;
    background-color: var(--colorPrimario);
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;  
    margin-top: 4rem;
}

.inicio svg{
    fill:var(--colorPrimario);
    width: 4rem;
    height: auto;
    
}

.rotar{
    rotate:180deg;
}

.promo{
    position: relative;
    width: 80%;
    border-top: solid 2px var(--colorSecundario);
    border-bottom: solid 2px var(--colorSecundario);
    margin-bottom: 4rem;
    color:#000000;
    
}

.promo h1{
    font-size: 3.5rem;
    text-shadow: #2e2d2d 2px 2px 5px;
}

.promo h3{
    font-size: 2rem;
    text-shadow: #000000 1px 1px 1px;
}

.promo h5{
    position: absolute;
    top:-1.5rem;
    background-color: var(--colorPrimario);
    padding: 0.5rem;
    font-size: 1.5rem;
    left:35%;
    text-shadow: #000000 1px 1px 1px;
}
.inicio img{
     margin-bottom: 4rem;
}
.faltan{
    width: 100%;

}

.divisor{
    border:solid 1px var(--colorTerciario);
}

.faltan article span{
    font-size: 4rem;
}

.faltan article p{
    font-size: 1.5rem;
    color: var(--colorTerciario);
    
}

.tiempo{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2rem;
}
.fiesta{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fiesta h2{
    border-top: solid 2px var(--colorPrimario);
    border-bottom: solid 2px var(--colorPrimario);
    width: 60%;
}

a{
    background-color: var(--colorPrimario);
    width: 80%;
    border-radius: 20px;
    text-decoration: none;
    color: var(--colorSecundario);
    margin: 1rem auto;
    padding: 0.3rem 0;
    
}

.fiesta h3{
    font-size: 2.5rem;
}
.card{
    margin: 1rem 0;
    background-color: #90f2f73f;
    border-radius: 10px;
    width: 80%;
}

.modal-content{
    background-color: black;
    border: 1px solid var(--colorPrimario);
}

.btn-close{
    background-color: var(--colorPrimario);
}

iframe{
    width: 100%;
    aspect-ratio: 1/1;
}

.audio{
    width: 4rem;
    height: 4rem;
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 999;
    fill: var(--colorPrimario);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: #000000;
    border: 1px solid var(--colorPrimario);
}

.audio svg{
    width: 2.5rem;
    height: 2.5rem;
}

footer{
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
}